<div class="container">
  <table  border="1" bordercolor="#4682B4" cellpadding="15" style="width:100%; border-collapse:separate;">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <tr>
      <th style="width:30%"><%= f.label :確認用メールアドレス %></th>
      <td style="width:70%"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>


        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :新しいパスワード %></th>
      <td><%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <em class="edit-pass">※半角英数<%= @minimum_password_length %>文字以上</em>
        <% end %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :確認用パスワード %></th>
      <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %></td>
    </tr>

    <tr>
      <th><%= f.label :現在のパスワード %></th>
      <td><%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %></td>
    </tr>

    <tr>
      <td colspan="2"><%= f.submit "パスワードを変更する", class: "btn btn-primary btn-block" %></td>
    </tr>
  <% end %>

  </table>
</div>
<div class="container clearfix">
<%= link_to "Back", :back, class: "btn btn-secondary float-right" %>
</div>