<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

   <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "苗字(漢字)" %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "名前(漢字)" %>
  </div>

  <div class="field">
    <%= f.label :last_kana %><br />
    <%= f.text_field :last_kana, autofocus: true, autocomplete: "苗字(カナ)" %>
  </div>

　　<div class="field">
    <%= f.label :first_kana %><br />
    <%= f.text_field :first_kana, autofocus: true, autocomplete: "名前(カナ)" %>
  </div>

　　<div class="field">
    <%= f.label :zip_code %><br />
    <%= f.text_field :zip_code, autofocus: true, autocomplete: "郵便番号" %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true, autocomplete: "住所" %>
  </div>

  <div class="field">
    <%= f.label :tel %><br />
    <%= f.text_field :tel, autofocus: true, autocomplete: "電話番号" %>

  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "メール" %>

  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "パスワード" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
