<div class="container">
  <div class="col-10 log">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <table  border="1" bordercolor="#4682B4" cellpadding="15" style="width:100%; border-collapse:separate;">
        <%= render "devise/shared/error_messages", resource: resource %>
         <tr><td colspan="2"><h2>アカウントを作成</h2></td></tr>
         <tr>
          <th>名前</th>
            <td class="form-row">
              <div class="col">
                <%= f.label :姓 %>
                <%= f.text_field :last_name, autofocus: true, autocomplete: "苗字(漢字)", class: "form-control" %>
              </div>
              <div class="col">
                <%= f.label :名 %></th>
                <%= f.text_field :first_name, autofocus: true, autocomplete: "名前(漢字)", class: "form-control" %>
              </div>
            </td>
        </tr>

        <tr>
          <th>カナ</th>
            <td class="form-row">
              <div class="col">
                <%= f.label :セイ %>
                <%= f.text_field :last_kana, autofocus: true, autocomplete: "苗字(カナ)", class: "form-control" %>
              </div>
              <div class="col">
                <%= f.label :メイ %>
                <%= f.text_field :first_kana, autofocus: true, autocomplete: "名前(カナ)", class: "form-control" %>
              </div>
            </td>
        </tr>

      　　<tr>
          <th><%= f.label :郵便番号 %>(ハイフン不要)</th>
          <td><%= f.text_field :zip_code, autofocus: true, autocomplete: "郵便番号", class: "form-control" %></td>
        </tr>

        <tr>
          <th><%= f.label :住所 %></th>
          <td><%= f.text_field :address, autofocus: true, autocomplete: "住所", class: "form-control" %></td>
        </tr>

        <tr>
          <th><%= f.label :電話番号 %>(ハイフン不要)</th>
          <td><%= f.text_field :tel, autofocus: true, autocomplete: "電話番号(ハイフン不要)", class: "form-control" %></td>

        </tr>

        <tr>
          <th><%= f.label :メールアドレス %></th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "メール", class: "form-control" %></td>

        </tr>

        <tr>
          <th><%= f.label :パスワード %></th>
          <td><%= f.password_field :password, autocomplete: "パスワード", class: "form-control" %>
              <% if @minimum_password_length %>
              <em class="edit-pass">※半角英数<%= @minimum_password_length %>文字以上</em>
          <% end %>
          </td>
        </tr>

        <tr>
          <th><%= f.label :確認用パスワード %></th>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %></td>
        </tr>

        <tr>
          <td colspan="2"><%= f.submit "新規登録",class: "btn btn-primary btn-block" %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
