<div class="container">
  <div class="row">

    <%= form_for(@artist) do |a| %>
      <div class="form-group">
        <%= :アーティスト名 %><br>
        <%= a.collection_select :artist_id, Artist.all, :id, :label, :prompt => "アーティスト名を入力してください" %>
      </div>
    <% end %>

    <%= form_for(@label) do |l| %>
    <%= l.label :レーベル名 %><br>
    <%= l.collection_select :label_id, Label.all, :id, :label, :prompt => "レーベルを選択してください" %>
    <% end %>

   <div>

      <h1>商品新規登録</h1>

      <%= form_for(@product, url: admin_products_path) do |f| %>
        <div class="form-group">
          <%= f.label :"シングル/アルバム名" %>
          <%= f.text_field :cd_title, class: "form-control"  %>
        </div>

        <div class="form-group">
          <%= :アーティスト名 %><br>
          <%= f.collection_select :artist_id, Artist.all, :id, :label, :prompt => "アーティスト名を入力してください" %>
        </div>

        <div class="form-group">
            <%= f.label :ジャケット画像  %><br>
            <%= f.attachment_field :image %>
        </div>

       <div class="form-group">
          <%= f.label :価格（税別価格）%>
          <%= f.text_field :notax_price, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :レーベル名 %><br>
          <%= f.collection_select :label_id, Label.all, :id, :label, :prompt => "レーベルを選択してください" %>
        </div>

        <div class="form-group">
          <%= f.label :ジャンル %><br>
          <%=  f.collection_select :genre_id, Genre.all, :id, :genre, :prompt => "ジャンルを選択してください" %>
        </div>

        <div class="form-group">
          <%= f.label :在庫数 %>
          <%= f.text_field :stock, class: "form-control" %>
        </div>

        <div>
          <%=  f.fields_for :discs do |d| %>
          <% end %>
        </div>

        <div >
          <%= link_to_add_association 'ディスクを追加',  f, :discs %>
        </div>

        <div>
          <%= f.submit '商品登録' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
