<div class="container">
  <div class="row mx-auto">
    <div>
      <h1>商品新規登録</h1>
      <%= form_for (@product) do |f| %>
    <div class="form-group">
        <%= f.label :"シングル/アルバム名" %>
        <br>
        <%= f.text_field :cd_title, class: "form-control"  %>
    </div>
    <div>
        <%= f.label :アーティスト名 %>
        <br>
        <%= f.text_field :artist, class: "form-control"  %>
    </div>
    <div>
        <%= f.label :ジャケット画像  %>
        <br>
        <%= f.attachment_field :image %>
    </div>
   <div>
        <%= f.label :価格（税別価格）%>
        <br>
        <%= f.text_field :notax_price, class: "form-control" %>
    </div>
    <div>
        <%= f.label :レーベル名 %>
        <br>
        <%= f.text_field :label, class: "form-control" %>
    </div>
    <div>
        <%= f.label :ジャンル %>
        <br>
        <%=  f.select :genre,  ["JPOP","KPOP"], class: "form-control" %>
    </div>
    <div>
        <%= f.label :在庫数 %>
        <br>
        <%= f.text_field :stock, size: "5", class: "form-control" %>
    </div>
    <div>
      <div class="discs">
        <%= f.fields_for  :discs do |d| %>
          <div class="form-group>"
          <%= d.label :ディスク枚数 %>
          <%= d.select :disc_num,  [1,2,3,4,5], class: "form-control" %>
          </div>
        <% end %>
        </div>
    </div>
    <div>
        <%= f.label :曲名 %>
        <br>
        <%= f.text_field :stock, class: "form-control" %>
    </div>
    <div>
       <br>
        <%= f.submit '商品登録' %>
    </div>
  </div>
      <% end %>
  </div>
</div>
