<div class="container col-12">
	<div class="container col-10">
		<table  border="1" bordercolor="#4682B4" cellpadding="15" style="width:100%; border-collapse:separate;">
			 <%= form_for(@user) do |f| %>
	            <tr>
					<th>名前</th>
					<td class="form-row">
						<div class="col">
							<%= f.label :姓, class: "name_form" %>
							<%= f.text_field :last_name, class: "form-control" %>
					    </div>
                        <div class="col">
							<%= f.label :名, class: "name_form" %>
							<%= f.text_field :first_name, class: "form-control" %>
					    </div>
					</td>
				</tr>
				<tr>
					<th>カナ</th>
					<td class="form-row">
						<div class="col">
							<%= f.label :セイ, class: "name_form" %>
							<%= f.text_field :last_kana, class: "form-control" %>
					    </div>
                        <div class="col">
							<%= f.label :メイ, class: "name_form" %>
							<%= f.text_field :first_kana, class: "form-control" %>
					    </div>
					</td>
				</tr>

				<tr>
					<th><%= f.label :郵便番号 %></th>
					<td><%= f.text_field :zip_code, class: "form-control" %></td>
				</tr>

				<tr>
					<th><%= f.label :住所 %></th>
					<td><%= f.text_field :address, class: "form-control" %></td>
				</tr>

				<tr>
					<th><%= f.label :電話番号 %></th>
					<td><%= f.text_field :tel, class: "form-control" %></td>
				</tr>

				<tr>
					<th><%= f.label :メールアドレス %></th>
					<td><%= f.text_field :email, class: "form-control" %></td>
				</tr>

				<tr>
					<th><%= f.label :password %></th>
					<td><%= f.text_field :password, class: "form-control" %></td>
				</tr>

				<tr>
					<td colspan="2"><%= f.submit "変更を確定する", class: "btn btn-primary btn-block" %></td>
				</tr>

			<% end %>
		</table>
	</div>
</div>
