<div class="container col-12">
  <div class="container col-10">
	<table  border="1" bordercolor="#4682B4" cellpadding="15" style="width:100%; border-collapse:separate;">
		<tr>
			<th style="width:30%">アカウント情報</th>
			<td style="width:40%">アカウント情報やパスワードの変更ができます</td>
		    <td style="width:30%"><div class="btn btn-info btn-block">アカウント管理</div></td>

	<table  border="1" bordercolor="#4682B4" cellpadding="25" style="width:100%; border-collapse:separate;">
		<tr>
			<th style="width:30%">名前</th>
			<td style="width:70%"><%= @user.last_name %> <%= @user.first_name%></td>
		</tr>
        <tr>
			<th>フリガナ</th>
			<td><%= @user.last_kana %> <%=@user.first_kana %></td>
		</tr>
		<tr>
			<th>郵便番号</th>
			<td><%= %></td>
		</tr>
		<tr>
			<th>住所</th>
			<td><%= %></td>
		</tr>
		<tr>
			<th>電話番号</th>
			<td><%= %></td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td><%= %></td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td><%= %></td>
		</tr>
	</table>
        <div class="btn btn-danger btn-block col-3 float-right">退会機能</div>
  </div>
</div>