<div class="container">
	<% if notice %>
  		<p id="notice"><%= notice %></p>
  	<% end %>
    	<h1>ショッピングカート</h1>
      		<h2>　　　カートに追加された商品</h2><br>
	<div class="row">
		<div class="col-8">
		    	<% @cart.line_items.each do |item| %>
		    	<tr>
			    	<div class="row">
						<div class="col-4">
					    	<%= attachment_image_tag item.product, :image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg" %>
					 	</div>
			        	<div class="col-8">
							<table>
								<tr>
									<th>アルバム名：</th>
									<th colspan="2"><%= item.product.cd_title %></th>
								</tr>
								<tr>
									<td>アーティスト：</td>
									<td colspan="2"><%= item.product.artist.artist %></td>
								</tr>
							  	<tr>
									<td>税込価格：</td>
									<td><%= (item.product.notax_price * 108/100.0).ceil.to_i %>円</td>
								</tr>
							 	<tr>
									<td>購入枚数：</td>
									<td><%= item.quantity %>枚</td>
							  	</tr>
							  	<tr>
									<td>合計金額：</td>
								 	<td><%= (item.total_price * 108/100.0).ceil.to_i %>円</td>
							  	</tr>
							  	<tr>
							  	    <td><%= button_to '削除', item, method: :delete, data: {confirm: 'カートから削除してよろしいですか？'}%></td>
							  	</tr>
							</table>
						</div>
					</div>
				<% end %>
		</div>
		<div class="col-4">
				<tr>
					<td>総計：<%= (@cart.total_price * 108/100.0).ceil.to_i %>円</td>
				</tr><br>
		    <%= button_to '買い物を続ける', products_path, method: :get, class: 'fbtn' %><br>
			<%= button_to 'カートを空にする', @cart, method: :delete, data: {confirm: 'カートを空にして本当によろしいですか？'}, class: 'fbtn' %><br>
			<%= button_to '注文をする', new_sell_path, method: :get, class: 'fbtn' %><br>
			<h4>管理人おすすめ</h4>
				<table>
					<tr>
						<th>アルバム名：</th>
						<th><%=   %></th>
					</tr>
					<tr>
						<td>アーティスト名：</td>
						<td><%=  %></td>
					</tr>
				</table>
		</div>
</div>
