<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<br>
<h1>ショッピングカート</h1>
<h2>　　　カートに追加された商品</h2>
<br>
<span>　<%= link_to '買い物を続ける', products_path, :class => 'btn' %><span>
<br>
<br>
<table>
	<tr>
		<th>ジャケット画像</th>
		<th>商品名</th>
		<th>価格</th>
		<th>数量</th>
		<th>合計</th>
	</tr>
		<% @cart.line_items.each do |item| %>
		<tr>
			<td text-align:center;><%= attachment_image_tag item.product, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
			<td text-align:center;><font size="4"><%= item.product.cd_title %></font></td>
			<td text-align:center;><font size="4"><%= (item.product.notax_price * 108/100.0).ceil.to_i %>円</font></td>
			<td text-align:center;><font size="4"><%= item.quantity %></font></td>
			<td text-align:center;><font size="4"><%= (item.total_price * 108/100.0).ceil.to_i %>円</font></td>
			<td><%= button_to '削除', item, method: :delete, data: {confirm: 'カートから削除してよろしいですか？'}%></td>

		</tr>
		</tr>
		<% end %>
		<tr>
			<td colspan="5"><font size="5">総計：<%= (@cart.total_price * 108/100.0).ceil.to_i %>円</font></td>
		</tr>

</table>

<br>
<%= button_to 'カートを空にする', @cart, method: :delete, data: {confirm: 'カートを空にして本当によろしいですか？'}, class: 'fbtn' %>
<br>
<%= button_to '注文をする', new_sell_path, method: :get, class: 'fbtn' %>