<div class="nested-fields">

  <div class="form-group">
    <label>ディスクNo.</label>
    <%= f.select :disc_num, [1,2,3], :prompt => "", class: "form-control" %>
    <%= link_to_remove_association "消去", f, class: "btn btn-sm btn-delete", style: "margin-left: 5px;" %>
  </div>

  <div>
    <%= f.fields_for :songs do |d| %>
      <%= render "song_fields", f: d %>
    <% end %>
  </div>

  <div>
    <%= link_to_add_association "曲を追加", f, :songs, class: "btn btn-add" %>
  </div>
  <br>
</div>
