<div class="container">
  <div class="row card card-body bg-light p-4">
    <div class="headline">
      <h2>商品一覧</h2>
    </div>
    <table class="table table-bordered text-center" style="height: 100px;">
      <thead class="thead thead-light">
        <tr>
          <th class="align-middle">ジャケット</th>
          <th class="align-middle">商品名</th>
          <th class="align-middle">アーティスト</th>
          <th class="align-middle">価格（税別）</th>
          <th class="align-middle">在庫</th>
          <th class="align-middle"></th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |c| %>
          <tr>
            <td class="align-middle"><%= attachment_image_tag c, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %></td>
            <td class="align-middle"><%= c.cd_title %></td>
            <td class="align-middle"><%= c.artist.artist %></td>
            <td class="align-middle"><%= c.notax_price %><span> 円</span></td>
            <td class="align-middle"><%= c.stock %></td>
            <td class="align-middle"><%= link_to "商品詳細", admin_product_path(c), class: "btn btn-add" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @products %>
  </div>
</div>
