<div class="container">
    <div class="row">
        <% @products.each do |c| %>
            <div class="col-2 image"><%= attachment_image_tag c, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg"%></div>
            <div class="col-2 cd_name"><%= c.cd_title %></div>
            <div class="col-2 artist"><%= c.artist.artist %></div>

            <div class="col-2 plice"><%= c.notax_price %></div>
            <div class="col-2 status"><%= c.stock %></div>
            <div class="col-2 link_cd"><%= link_to "商品詳細",admin_product_path(c) %></div>
        <% end %>
        <%= paginate @products %>
    </div>
</div>

