<div class="container">
  <%= @products.each do |c| %>
    <div class="row">
        <div class="col-2 image">イメージ画像</div>
        <div class="col-2 cd_name"><%= c.cd_title %></div>
        <div class="col-2 artist"><%= c.artist %></div>
        <div class="col-2 plice"><%= c.notax_price %></div>
        <div class="col-2 status"><%= c.stock %></div>
        <div class="col-2 link_cd"><%= link_to "商品詳細",product_path(c) %></div>
    </div>
  <% end %>
</div>

