<div class="container">
  <div class="row">
      <h2>商品詳細</h2>
  </div>
  <div class="row">
    <div class="col", style="padding: 0;">
      <div>
        <%= attachment_image_tag @product, :image,  :fill, 250, 250, format: 'jpeg' ,fallback: "no_image.jpg" %>
      </div>
      <div>
        <p><%= @product.genre.genre %></p>
      </div>
    </div>
    <div class="col", style="padding: 0;">
      <div class="div">
        <table class="table table-borderless", style="margin: 0;">
          <tbody>
            <tr>
              <td>シングル/アルバム名</td>
              <td><%= @product.cd_title %></td>
            </tr>
            <tr>
              <td>アーティスト名</td>
              <td><%= @product.artist.artist %></td>
            </tr>
            <tr>
              <td>レーベル名</td>
              <td><%= @product.label.label %></td>
            </tr>
            <tr>
              <td>在庫数</td>
              <td><%= @product.stock %></td>
            </tr>
            <tr>
              <td>価格（税別）</td>
              <td><%= @product.notax_price %><span> 円</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col">
          <%= link_to "編集", edit_admin_product_path, class:"btn btn-info" %>
        </div>
        <div class="col">
          <%= link_to "削除", admin_product_path, method: :delete, date: {confirm: "本当に消去しますか？"}, class:"btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
  <% @product.discs.each do |p| %><!-- ディスクNo. -->
  <div class="row">
      <table>
        <tbody>
          <tr>
            <td>ディスク</td>
            <td><%= p.disc_num %> </td>
          </tr>
          <% p.songs.each do |s| %> <!-- 曲名 -->
          <tr>
              <td><%= s.song %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  <% end %>
</div>
