<div class="container">
  <div class="row">
      <h2>商品詳細</h2>
  </div>
  <div class="row">
    <div class="col">
      <div>
        <%= attachment_image_tag @product, :image,  :fill, 100, 100, format: 'jpeg' ,fallback: "no_image.jpg" %>
      <div>
        <%= @product.genre.genre %>
      </div>
    </div>
    <div class="col">
      <%= @product.cd_title %><br>
      <%= @product.artist.artist %><br>
      <%= @product.label.label %>
      <div class="">
        <%= @product.stock %>
        <%= @product.notax_price %><span>円</span>
      </div>
      <div class="">
        <%= link_to "編集", edit_admin_product_path %>
        <%= link_to "削除", admin_product_path, method: :delete, "date-confirm" => "本当に消去しますか？" %>
      </div>
    </div>
  </div>
  <div class="">
    <table class="table table-borderd table-striped">
      <tr></tr>
    </table>
  </div>
</div>
