<div class="container">
  <div class="row order">
    <div class="col-3">
      <%= attachment_image_tag @product, :image, :fill, 250, 250, format: 'jpeg', fallback: "no_image.jpg", class: "img-fluid"  %>
    </div>
    <div class="col-6 row">
      <table>
        <tr>
          <td>購入日：</td><td><%= @sell.created_at %></td>
        </tr>
        <tr>
          <td><%= @product.cd_title %></td>
        </tr>
        <tr>
          <td><%= @product.artist.artist %></td>
        </tr>
      </table>
    </div>
    <div class="col-3 float-right">
      <table>
        <tr>
          <td>小計：￥<%=(@product.notax_price * 108/100.0).ceil %>円</td>
        </tr>
        <tr>
          <td>購入数：<%= @sell_detail.quantity %></td>
        </tr>
        <tr>
          <td>合計金額：￥<%=(@product.notax_price * 108/100.0).ceil*@sell_detail.quantity %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-5 order">
      <table>
        <tr>
          <td>購入者：</td><td><%= current_user.last_name %> <%= current_user.first_name %>様</td>
        </tr>
        <tr>
          <td>受取人氏名：</td><td><%= @sell.ship_l_name %> <%= @sell.ship_f_name %>様</td>
        </tr>
          <td>郵便番号：</td><td><%= @sell.ship_code %></td>
        <tr>
          <td>住所：</td><td><%= @sell.ship_address %></td>
        </tr>
        <tr>
          <td>電話番号：</td><td><%= @sell.ship_tel %></td>
        </tr>
      </table>
    </div>
    <div class="col-5 order">
      <table>
        <tr>
          <th>支払い情報</th>
        </tr>
          <td><%= @sell.pay %></td>
      </table>
    </div>
    <div class="col-2 order">
      <%= form_for(@sell, url: admin_sell_path, method: "put") do |f| %>
        <%= f.select :ship_status, ["受付","商品準備中","出荷済"] %>
        <%= f.submit "ステータス変更" %>
      <% end %>
    </div>
  </div>
</div>
>>>>>>> 4cdb20e2e205597d90d135d731b80f6f2a0f62ca
