<div class="container-field">
	<div class="slide"><!-- スライドショー -->
		<div class="theTarget">
			<div class="image1"></div>
			<div class="image2"></div>
			<div class="image3"></div>
			<div class="image4"></div>
			<div class="image5"></div>
	 	</div>
	</div>
</div>
<div class="container index">
	<div class="row">
		<div class="col-8 product_box">
			<div class="container product_box">
				<div class="row">
				<% @products.reverse.each do |p| %>
						<div class="float-left index_products">
							<%= link_to (product_path(p.id)) do %>
							<%= attachment_image_tag p, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" ,class: "img-fluid" %>
							<% end %>
							<div>
								<div><%= p.cd_title %></div>
								<div><%= p.artist.artist %></div>
							</div>
						</div>
				<% end %>
			</div>
					<%= paginate @products %>
			</div>
		</div>
		<div class="col-4 product_bar">
			<div class="card bg-light mb-3">
				  <div class="card-header">管理人のおすすめ
				  </div>
				<div class="card-body">
					<% @product_randoms.each do |r| %>
				<div class="row">
					<div class="col-4">
						<%= link_to product_path(r.id) do %>
							<%= attachment_image_tag r, :image, :fill, 150, 150, format: 'jpeg', fallback: "no_image.jpg" ,class: "d-block mx-auto",class: "img-fluid" %>
						<% end %>
					</div>
					<div class="col-8">
						<table class="table" style="font-size: 3pt;">
							<tr>
								<th><%= r.cd_title %></th>
							</tr>
							<tr>
								<td><%= r.artist.artist%></td>
							</tr>
						</table>
					</div>
				</div>
				<% end %>
				</div>
			</div>
		</div>
	</div>
</div>




