<div class="slide">
	<div class="theTarget">
		<div class="image1"></div>
		<div class="image2"></div>
		<div class="image3"></div>
		<div class="image4"></div>
		<div class="image5"></div>
 	</div>
</div>

<div class="container"><!-- スライドショー -->
	<div class="row">
		<% @products.each do |p| %>
				<div class="col-3">
				</div>
					<div class="col-5">
						<table>
							<tr>
								<th>アルバム名：</th>
								<th><%= p.cd_title %></th>
								<th></th>
							</tr>
							<tr>
								<td>アーティスト：</td>
								<td><%= p.artist.artist %></td><!-- アーティスト -->
								<td></td>
							</tr>
							<tr>
								<td>税込価格：</td>
								<td><%=(p.notax_price * 108/100.0).ceil %></td>
							</tr>
						</table>
					</div>
		<% end %>
		<dev class="row">
		<div class="col-12"><!-- サイドバー -->
				<h4>管理人おすすめ</h4>
				<table>
					<tr>
						<th>アルバム名：</th>
						<th><%=  %></th>
					</tr>
					<tr>
						<td>アーティスト名：</td>
						<td><%= %></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>