<div class="slide">
	<div class="theTarget">
		<div class="image1"></div>
		<div class="image2"></div>
		<div class="image3"></div>
		<div class="image4"></div>
		<div class="image5"></div>
 	</div>
</div>


<div class="container"><!-- スライドショー -->
		<% @products.each do |p| %>
			<div class="row">
				<div class="col-3">
				<%= attachment_image_tag p, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
				</div>
					<div class="col-5">
						<table>
							<tr>
								<th>アルバム名：</th>
								<th><%= p.cd_title %></th>
								<th></th>
							</tr>
							<tr>
								<td>アーティスト：</td>
								<td><%= p.artist.artist %></td><!-- アーティスト -->
								<td></td>
							</tr>
							<tr>
								<td>税込価格：</td>
								<td><%=p.notax_price %></td>
								<td><%= link_to "詳細",  product_path(p.id) %></td>
							</tr>
						</table>
					</div>
				</div>
		<% end %>
		<div class="row"><!-- サイドバー -->
			<div class="col-4">
				<!-- <h2>管理人おすすめ</h2>
				<%= attachment_image_tag @product, :image_id, :fill, 200, 200, size: '50x50' %>
				<table>
					<tr>
						<th>アルバム名：</th>
						<th><%=  %></th>
					</tr>
					<tr>
						<td>アーティスト名：</td>
						<td><%= %></td>
					</tr>
				</table> -->

			</div>
		</div>
</div>