<h1>商品新規登録</h1>

<%= form_for([:admin]@product) do |f| %>

    <h4>アーティスト名</h4>
    <%= f.text_field :artist %>

    <h4>シングル/アルバム名</h4>
    <%= f.text_area :cd_title %>

    <h4>ジャケット画像</h4>
    <%= f.attachment_field :image %>

    <h4>価格（税別価格）</h4>
    <%= f.text_area :notax_price %>

    <h4>レーベル名</h4>
    <%= f.text_area :label %>

    <h4>ジャンル</h4>
    <%= f.text_area :genre %>

    <h4>在庫数</h4>
    <%= f.text_area :stock %>

    <%= f.submit 'Create Book' %>

<% end %>