<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>商品詳細</h2>
    </div>

      <div class="col-5">
          <%= attachment_image_tag @product, :image, :fill, 400, 400, format: 'jpeg', fallback: "no_image.jpg" %><!-- ジャケ写 -->
        </div>
      <div class="col-7">
        <table>
              <tr>
                <th>アルバム名：</th>
                <th><%= @product.cd_title %></th>
              </tr>
              <tr>
                <td>アーティスト：</td>
                <td><%= @product.artist.artist%></td>
              </tr>
              <tr>
                  <td>レーベル：</td>
                  <td><%= @product.label.label%></td>
              </tr>
               <tr>
                  <td>在庫数：</td>
                  <td><%=@product.stock %></td>
              </tr>
              <tr>
                  <td>ステータス：</td>
                  <td><%= @product.stock == 0 ? "在庫なし" : "在庫あり"  %>
                  </td>
              </tr>
               <tr>
                  <td>ジャンル：</td>
                  <td><%= @product.genre.genre%></td>
              </tr>
              <tr>
                <td>税込価格：</td>
                <td><%=(@product.notax_price * 108/100.0).ceil %>円</td>
              </tr>
              <td>
              <td><%= button_to 'カートに入れる', line_items_path(product_id: @product), class: 'fbtn' %>
            </td>
        </table>
      </div>
    </div>
</div>