<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>商品詳細</h1>
    </div>
  </div>
    <div class="row">
      <div class="col-5">
        <div class="user-profile-image">
          <%= attachment_image_tag @product, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <table>
              <tr>
                <th>アルバム名：</th>
                <th><%= @product.cd_title %></th>
                </tr>
              <tr>
                <td>アーティスト：</td>
                <td><%= @product.artist_id%></td>
              </tr>
              <tr>
                  <td>レーベル：</td>
                  <td><%= @product.notax_price %></td>
              </tr>
               <tr>
                  <td>ステータス：</td>
                  <td><%= %></td>
              </tr>
               <tr>
                  <td>ジャンル：</td>
                  <td><%= %></td>
              </tr>
              <tr>
                <td>税込価格：</td>
                <td><%= @product.notax_price %></td>
              </tr>
              <td>
              <td><%= button_to 'カートに入れる', line_items_path(product_id: @product), class: 'fbtn' %>
            </td>
        </table>
      </div>
    </div>
</div>