<div class="container">
  <div class="row">
    <div class="col-5">
        <%= attachment_image_tag @product, :image, :fill, 350, 350, format: 'jpeg', fallback: "no_image.jpg", class: "img-fluid"  %><!-- ジャケ写 -->
    </div>
      <div class="col-4">
        <table class="table table-borderless">
            <tr>
              <th>アルバム名：</th>
              <th><%= @product.cd_title %></th>
            </tr>
            <tr>
              <td>アーティスト：</td>
              <td><%= @product.artist.artist%></td>
            </tr>
            <tr>
              <td>レーベル：</td>
              <td><%= @product.label.label%></td>
            </tr>
            <tr>
              <td>在庫数：</td>
              <td><%=@product.stock %></td>
            </tr>
            <tr>
              <td>ジャンル：</td>
              <td><%= @product.genre.genre%></td>
            </tr>
            <tr>
              <td>税込価格：</td>
              <td><%=(@product.notax_price * 108/100.0).ceil %>円</td>
            </tr>
        </table>
      </div>
      <div class="col-3">
        <table class="table table-borderless">
          <tr>
              <td>
                <%= form_for(@line_item, url: line_items_path(product_id: @product)) do |f| %>
                <%= f.select :quantity,  1..@product.stock,  :selected=>@line_item.quantity %>
                <%= f.submit '数量を決めて購入', class:"btn btn-success" %>
                <% end %>
                <td>
              </tr>
          <tr>
            <td>ステータス：</td>
            <td><%= @product.stock == 0 ? "在庫なし" : "在庫あり"  %></td><!-- 三項演算子 -->
          </tr>
        </table>
      </div>
        <div class="row">
        <div class="col-12">
          <% @product.discs.each do |p| %><!-- ディスクNo. -->
          <table>
              <tr>
                <td>NO:</td>
                <td><%= p.disc_num %> </td>
              </tr>
              <tr>
              <% p.songs.each do |s| %> <!-- 曲名 -->
                <td></td>
                <td><%= s.song %></td>
              </tr>
            <% end %>
          </table>
              <% end %>
        </div>
      </div>
  </div>
</div>