<h1>注文一覧</h1>

<div class="container">
  <% @sells.reverse.each do |s| %>
    <div class="container card card-body bg-light p-3" style="margin:20px 0;">
    <div class="row">
      <div class="col-3">
        <p>注文ID：<%= s.id %></p>
      </div>
      <div class="col-5">
        <p>ご購入日：<%= s.created_at.strftime('%Y/%m/%d') %><span style="padding-left:20px;">配送状況：<%= s.ship_status %></p>
      </div>
      <div class="col-3">
        <div>
          お支払い合計：￥<%= s.total %>円
        </div>
      </div>
    </div>
      <% s.sell_details.each do |sd| %>
        <% product = Product.with_deleted.where(id: sd.product_id).first %>
          <div class="row" style="margin:10px 0;">
            <div class="col-3">
              <%= attachment_image_tag product, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", class: "img-fluid"  %>
            </div>
            <div class="col-9 row">
              <div class="col-7">
                <%= product.cd_title %><br/>
                <%= product.artist.artist %>
              </div>
              <div class="col-4" style="margin-left:3px;">
                <%= link_to "詳細", sell_path(s.id) %>
              </div>
            </div>
          </div>

        <% end %>

    </div>
  <% end %>
</div>