<div class="container">
	<%= form_for (@sell) do |f| %>
		<div class="row">
			<div class="col-8">
			    <table style="width:100%; "cellpadding="15">
			    	<thead class="sell_head">
			    		<tr>
			    			<td colspan="2">お客様情報</td>
			    		</tr>
			    	</thead>
			    	<tbody>
			    		<tr>
				    		<td>名前：</td><td><%= current_user.last_name %> <%= current_user.first_name %>様</td>
				    	</tr>
				    	<tr>
				    		<td>郵便番号</td><td><%= current_user.zip_code %></td>
				    	</tr>
				    	<tr>
				    		<td>電話番号</td><td><%= current_user.tel %></td>
				    	</tr>
				    	<tr>
				    		<td>住所</td><td><%= current_user.address %></td>
				    	</tr>
			    	</tbody>
			    </table>
			    <table style="width:100%; "cellpadding="15">
			    	<thead class="sell_head">
			    		<tr>
			    			<td colspan="2">送付先情報</td>
			    		</tr>
			    	</thead>
			    	<tbody>
			    		<tr>
							<td><%= f.label :受取人氏名 %></td>
							<td><%= f.text_field :ship_name, :value => current_user.last_name, class: "form-control" %></td>
				    	</tr>
				    	<tr>
				    		<td><%= f.label :郵便番号 %></td>
							<td><%= f.text_field :ship_code, :value => current_user.zip_code, class: "form-control" %></td>
				    	</tr>
				    	<tr>
				    		<td><%= f.label :住所 %></td>
							<td><%= f.text_field :ship_address, :value => current_user.tel, class: "form-control" %></td>
				    	</tr>
				    	<tr>
				    		<td><%= f.label :電話番号 %></td>
							<td><%= f.text_field :ship_tel, :value => current_user.address, class: "form-control" %></td>
				    	</tr>
			    	</tbody>
			    </table>

			    <table style="width:100%;" cellpadding="15">
			    	<thead class="sell_head">
			    		<tr>
			    			<td colspan="2">商品情報</td>
			    		</tr>
			    	</thead>
			    	<tbody>
			    		<% current_user.cartitems.each do |i| %>
				    		<tr>
					    		<td><%=attachment_image_tag i, :image %></td>
					    		<td>商品名：<%= i.cd_title%></td>
					    	</tr>
					    	<tr>
					    		<td></td><td><%= i.notax_price %>×<%= i.quantity %>購入数　小計：￥価格</td>
					    	</tr>
				    	<% end %>
			    	</tbody>
			    </table>

				<table style="width:100%;" cellpadding="15">
			    	<thead class="sell_head">
			    		<tr>
				    		<td colspan="2">お支払い方法</td>
				    	</tr>
			    	</thead>
			    	<tbody>
			    		<tr>
			    			<td>
								<%= f.check_box :pay,:checked_value => true, :unchecked_value => false %>
								<%= f.label :クレジット %>
							</td>
						</tr>
						<tr>
							<td>
								<%= f.check_box :pay,:checked_value => true, :unchecked_value => false %>
								<%= f.label :銀行振込 %>
							</td>
						</tr>
						<tr>
							<td>
								<%= f.check_box :pay,:checked_value => true, :unchecked_value => false %>
								<%= f.label :代引 %>
							</td>
						</tr>
			    	</tbody>
				</table>
			</div>
	        <div class="col-4">
				<div>
					<div>
						<table style="width:100%;" cellpadding="15">
					    	<thead>
					    		<tr>
						    		<td>小計</td><td>￥金額</td>
						    	</tr>
						    	<tr>
						    		<td>送料</td><td>￥送料</td>
						    	</tr>
					    	</thead>
					    	<tbody>
					    		<tr>
					    			<td>合計</td><td>￥合計金額</td>
					    		</tr>
					    		<tr>
					    			<td colspan="2">
								    	<div class="btn-group-vertical btn-block" role="group" aria-label="積み重ねボタングループ">
											<%= f.submit "確認する", class: "btn btn-danger btn-block"%>
											<a class="btn btn-secondary btn-block" href="#" role="button">カートへ戻る</a>
										</div>
									</td>
					    		</tr>
					    	</tbody>
				    	</table>
			    	</div>
				</div>
			</div>
		 </div>
	<% end %>
</div>
