<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Nagareco</title>
  </head>

  <body class="<%= "#{controller.controller_name}" %>">
    <nav class="navbar navbar-expand-lg" style="margin-bottom:80px;">
        <a class="navbar-logo" href="/"><%= image_tag('image7.jpg') %></a>
        <button type="button" class="navbar-toggler fas fa-outdent navbar-dark" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替" style="color:white;" >
        </button>
        <div class="collapse navbar-collapse" id="Navber">
          <% if admin_signed_in? %>
            <ul class="navbar-nav mr-auto">
              <li class="mr-2">
                <%= link_to "管理者メニュー", admin_top_path %>
              </li>
              <li class="mr-2">
                <%= link_to "商品新規登録", new_admin_product_path %>
              </li>

              <li class="mr-2">
                <%= link_to "商品一覧", admin_products_path %>
              </li>

              <li class="mr-2">
                <%= link_to "ユーザー一覧", admin_users_path %>
              </li>

              <li class="mr-2">
                <%= link_to "注文一覧", admin_products_path %>
              </li>

              <li class="mr-2">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
          <% elsif user_signed_in? %>
            <ul>
              <li class="mr-2">
                <%= link_to "Top画面", root_path %>
              </li>

              <li class="mr-2">
                <%= link_to "マイページ", user_path(current_user.id) %>
              </li>

              <li class="mr-2">
                <%= link_to "カート", cart_path(current_cart.id) %>
              </li>

              <li class="mr-2">
                <%= link_to "アバウト", about_path %>
              </li>

              <li class="mr-2">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
          <% else %>
              <ul>
                <li class="mx-2">
                  <%= link_to "Top画面", root_path %>
                </li>

                <li class="mr-2">
                  <%= link_to "アバウト", about_path %>
                </li>

                <li class="mr-2">
                  <%= link_to "アカウント作成", new_user_registration_path %>
                </li>

                <li class="mr-2">
                  <%= link_to "ログイン", new_user_session_path %>
                </li>
              </ul>
          <% end %>
        </div>

      <%= search_form_for @search do |f| %>
        <%= f.label :cd_title_cont, "商品名を含む" %>
        <%= f.search_field :cd_title_cont %>
        <div class="actions">
          <%= f.submit "検索" %>
        </div>
      <% end %>
    </nav>

    <%= yield %>

    <footer style="margin-top:80px; height:50px; color: white">
      <p class="text-right">
      CopyRight Nagareco.inc
      </p>
    </footer>
  </body>
</html>
