<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Nagareco</title>
  </head>

  <body>

    <div class="header" id="header">
      <nav class="navbar navbar-main navbar-inverse" role="navigation" id="slide-nav">
        <div class="container relative">
          <div class="navbar-header">
            <a class="navbar-brand" style="font-size: 20px;
    padding-top: 5px;">Nagoreco</a>
          </div>
          <div id="slidemenu">
  <ul class="nav navbar-nav navbar-right" >


    <% if user_signed_in? %>

        <%= link_to products_path  do%>Top画面<%end%>


        <%= link_to user_path(current_user.id)  do%> Home<%end%>

        <%= link_to cart_items_path do%>カート<%end%>

        <%= link_to destroy_user_session_path, method: :delete do%> Logout<%end%>

    <% else %>

        <%= link_to products_path  do%> Top画面<%end%>

        <%= link_to new_user_registration_path  do%> Sign up<%end%>

        <%= link_to new_user_session_path  do%> Log in<%end%>

   <% end %>

 </div>

  </ul>
</div>
        </div>
        </div>
      </nav>
    </div>

    <%= yield %>

    <div class="clearfix">
    <div class="col-sm-3 col-md-2 sidebar">

　　</div>
    </div>

   <footer>
      <p class="text-right">
      CopyRight Nagareco.inc
      </p>
    </footer>

  </body>
</html>
