<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Nagareco</title>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Nagareco</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替" >
    <nav class="nav navbar-nav navbar-right" >
  </button>

  <div class="collapse navbar-collapse" id="Navber">
    <% if user_signed_in? %>
    <ul class="navbar-nav mr-auto">
      <li class="">
        <%= link_to products_path  do%>Top画面<%end%>
        </li>

        <li class="">
        <%= link_to user_path(current_user.id)  do%>Home<%end%>
        </li>

        <li class="">
        <%= link_to cart_items_path do%>カート<%end%>
        </li>

        <li class="">
        <%= link_to about_path do%>アバウト<%end%>
        </li>

        <li class="">
        <%= link_to destroy_user_session_path, method: :delete do%>   Logout<%end%>
        </li>

    <% else %>

        <li class="">
        <%= link_to products_path  do%> Top画面<%end%>
        </li>

        <li class="">
        <%= link_to about_path do%>アバウト<%end%>
        </li>

        <li class="">
        <%= link_to new_user_registration_path  do%> Sign up<%end%>
        </li>

        <li class="">
        <%= link_to new_user_session_path  do%> Log in<%end%>
        </li>

   <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="search" class="form-control mr-sm-2" placeholder="検索..." aria-label="検索...">
      <button type="submit" class="btn btn-outline-success my-2 my-sm-0">検索</button>
    </form>
  </div>
</nav>

    <%= yield %>

    <div class="clearfix">

　　</div>
    </div>


   <footer>
      <p class="text-right">
      CopyRight Nagareco.inc
      </p>
    </footer>

  </body>
</html>
